body{
    background-color: gainsboro;
}
div{
    margin-left: 20%;
    margin-right: 20%;
}
p{
    font-size: larger;
    color:green;
}
.main2 {
    height: 350px;
    width: 50%;
    font-size:x-large;
}
ul{
    display: inline-block;
}
p:hover{
    background-color: greenyellow;
    border:30px solid;
     
}
h3:hover{
    background-color: aquamarine;
  
}
a:hover{
   color:brown;
   background-color:red;
   border:solid 50px;  
  
}
table{
    margin-left: 20%;
}
table:hover{
    color:aliceblue;
    border:solid 20px;
}
img:hover{
    color:yellow;
    border:solid 20px;
}



